@use 'mixins' as *;
.hero {
    text-align: center;
    letter-spacing: .0625rem;
    line-height: 1.7;
    padding-top: 6.25rem;
    
    
    &__title {
        font-size: var(--fs-lrg);
        font-weight: var(--fw-bold);
        line-height: 1.3;
        margin-bottom: 1.875rem;
        
        @include breakpoint(medium) {
            font-size: var(--fs-xlrg);
        }
    }

    &__text {
        font-size: var(--fs-med);
        margin-bottom: 3.75rem;
    }
}