@use 'mixins' as *;
.hero {
    // flex-direction: column;
    text-align: center;
    letter-spacing: .0625rem;
    line-height: 1.7;
    padding-top: 6.25rem;

    @include breakpoint(large) {
        text-align: start;
        padding-top: 0;
    }
    
    
    &__title {
        font-size: var(--fs-lrg);
        font-weight: var(--fw-bold);
        line-height: 1.3;
        margin-bottom: 1.875rem;
        
        @include breakpoint(medium) {
            font-size: var(--fs-xlrg);
        }

        @include breakpoint(large) {
            font-size: var(--fs-xxlrg);
            line-height: 1.1;
        }
    }

    &__text {
        font-size: var(--fs-med);
        margin-bottom: 3.75rem;
    }
}